<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("header"); %>
  </head>
  <body>
    <header>
      <h1>Welcome to the Node.js Site</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact-me">Contact</a>
      </nav>
    </header>
    <main>
      <h2><%= sitename %></h2>
      <p>
        Node.js is an open-source, cross-platform, JavaScript runtime
        environment that executes JavaScript code outside of a web browser.
      </p>
    </main>
    <footer><%- include("footer"); %></footer>
  </body>
</html>
